<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/styles/style.css">
    <title>Add</title>
</head>
<body>
    <div class="contenedorPadreAdd">
        <div class="backHomeAdd">
            <button><img src="../assets/salirIcon.png" alt="Icono de Salir">Inicio</button>
        </div>
        <div class="contenedorAdd">
            <form action="">
            <div class="formAdd_1">
                <label for="nombreProp">Nombre del Propietario</label>
                <input type="text" autocomplete="off" id="nombreProp">
                <label for="claveCatastral">Clave Catastral</label>
                <input type="text" autocomplete="off" id="claveCatastral">
                <label for="entregadoPor">Entregado Por</label>
                <input type="text" autocomplete="off" id="entregadoPor">
                <label for="estado">Estado</label>
                <input type="text" autocomplete="off" id="estado">
            </div>
            <div class="formAdd_2">
                <label for="tipoDeActualizacion">Tipo de Actualizacion</label>
                <input type="text" autocomplete="off" id="tipoDeActualizacion">
                <label for="ubicacion">Ubicacion</label>
                <input type="text" autocomplete="off" id="ubicacion">
                <label for="recibidoPor">Recibido Por</label>
                <input type="text" autocomplete="off" id="recibidoPor">
                <button>Agregar<img src="../assets/entrarIcon.png" alt="Icono para Enviar"></button>
            </div>
            </form>
        </div>
    </div>
</body>
</html>