<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/styles/style.css">
    <title>Add</title>
</head>
<body>
    <div class="contenedorPadreAdd">
        <div class="backHomeAdd">
            <a href="/home.html"><img src="../assets/salirIcon.png" alt="Icono de Salir">Inicio</a>
        </div>
        <div class="contenedorAdd">
            <form action="/guardarDatos" method="POST" onsubmit="return submitForm()">
                <div class="formAdd_1">
                    <label for="nombrePropietario">Nombre del Propietario</label>
                    <input type="text" autocomplete="off" id="nombrePropietario" name="nombrePropietario">
                    <label for="claveCatastral">Clave Catastral</label>
                    <input type="text" autocomplete="off" id="claveCatastral" name="claveCatastral">
                    <label for="entregadoPor">Entregado Por</label>
                    <input type="text" autocomplete="off" id="entregadoPor" name="entregadoPor">
                    <label for="estado">Estado</label>
                    <input type="text" autocomplete="off" id="estado" name="estado">
                </div>
                <div class="formAdd_2">
                    <label for="tipoActualizacion">Tipo de Actualizacion</label>
                    <input type="text" autocomplete="off" id="tipoActualizacion" name="tipoActualizacion">
                    <label for="localidad">Ubicacion</label>
                    <input type="text" autocomplete="off" id="localidad" name="localidad">
                    <label for="recibidoPor">Recibido Por</label>
                    <input type="text" autocomplete="off" id="recibidoPor" name="recibidoPor">
                    <button type="submit">Agregar<img src="../assets/entrarIcon.png" alt="Icono para Enviar"></button>
                </div>
            </form>
        </div>
    </div>

    <script>
        function submitForm() {
            var nombrePropietario = document.getElementById('nombrePropietario').value;
            var tipoActualizacion = document.getElementById('tipoActualizacion').value;
            var claveCatastral = document.getElementById('claveCatastral').value;
            var localidad = document.getElementById('localidad').value;
            var estado = document.getElementById('estado').value;
            var entregadoPor = document.getElementById('entregadoPor').value;
            var recibidoPor = document.getElementById('recibidoPor').value;
    
            // Establecer valores predeterminados
            var subirExcel = 'NO';
            var paradero = 'COMPUTO';
    
            var data = "nombrePropietario=" + encodeURIComponent(nombrePropietario) +
                "&tipoActualizacion=" + encodeURIComponent(tipoActualizacion) +
                "&claveCatastral=" + encodeURIComponent(claveCatastral) +
                "&localidad=" + encodeURIComponent(localidad) +
                "&estado=" + encodeURIComponent(estado) +
                "&entregadoPor=" + encodeURIComponent(entregadoPor) +
                "&recibidoPor=" + encodeURIComponent(recibidoPor) +
                "&subirExcel=" + encodeURIComponent(subirExcel) +
                "&paradero=" + encodeURIComponent(paradero);
    
            var xhr = new XMLHttpRequest();
            xhr.open("POST", "/guardarDatos", true);
            xhr.setRequestHeader("Content-Type", "application/x-www-form-urlencoded");
    
            xhr.onreadystatechange = function () {
                if (xhr.readyState === 4) {
                    if (xhr.status === 200) {
                        alert('Datos ingresados con éxito');
                        location.reload();
                    } else {
                        alert('Error al ingresar los datos. Por favor, inténtelo de nuevo.');
                    }
                }
            };
    
            xhr.send(data);
    
            return false;
        }
    </script>
</body>
</html>
