<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/styles/style.css">
    <title>Home</title>
</head>
<body>
    <div class="contenedorPadreHome">
        <div class="contenedoresHome">
            <div class="linkHome_1">
                <img src="../assets/searchIcon.png" alt="Icono de Buscar">
                <span>Busqueda</span>
            </div>
            <div class="linkHome_2">
                <img src="../assets/excelIcon.png" alt="Icono de Excel">
                <span>Excel</span>
            </div>
            <div class="linkHome_3">
                <img src="../assets/addIcon.png" alt="Icono de Agregar">
                <span>Agregar</span>
            </div>
        </div>
        <div class="contenedoresHome">
            <div class="linkHome_4">
                <img src="../assets/fileIcon.png" alt="Icono de Archivos">
                <span>Fichas</span>
            </div>
            <div class="linkHome_5">
                <img src="../assets/exportIcon.png" alt="Icono de Exportar">
                <span>Exportar</span>
            </div>
            <div class="linkHome_6">
                <img src="../assets/logoutIcon.png" alt="Icono de Salir">
                <span>Cerrar Sesion</span>
            </div>
        </div>
    </div>
</body>
</html>